<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>214300003880-50v44k79esa75rsrvuqnia6k11lfv483.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.214300003880-50v44k79esa75rsrvuqnia6k11lfv483</string>
	<key>API_KEY</key>
	<string>AIzaSyB7V_jb-RlikKgUElW3f_TfgCmVrRSlD_4</string>
	<key>GCM_SENDER_ID</key>
	<string>214300003880</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>threeJokers.chat2</string>
	<key>PROJECT_ID</key>
	<string>chatappimplementation</string>
	<key>STORAGE_BUCKET</key>
	<string>chatappimplementation.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:214300003880:ios:d783e102c1b692b4</string>
	<key>DATABASE_URL</key>
	<string>https://chatappimplementation.firebaseio.com</string>
</dict>
</plist>
